#play_area {
  background-image: url("../images/blackhole.jfif");
  background-size: cover;
  background-color: black;
  width: 600px;
  height: 400px;
  border: 5px solid gray;
}
#play_area #player_shooter {
  width: 50px;
  height: 50px;
  position: relative;
  left: 20px;
  top: 180px;
}
#play_area .laser {
  width: 30px;
  height: 30px;
  position: relative;
}
#play_area .enemies {
  width: 50px;
  height: 50px;
  position: absolute;
}
#play_area .enemies-transition {
  opacity: 1;
  transition: opacity 1.5s ease out;
}
#play_area .dead {
  width: 50px;
  height: 50px;
  position: absolute;
}
#board {
  width: 800px;
  margin: 0 auto;
}
#board img {
  width: 80px;
  height: 80px;
}
#board #score {
  font-family: Verdana;
}
